.wrapper {
  margin: 0 auto;
  max-width: 1236px;
  padding: 0 2.625rem;

  &--l-border {
    border-left: 0;
    border-right: 3.25rem;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: $mainBlue;
  }

}
